// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$offwhite:    #EEE8D6;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #3c9c32;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;
$light-blue: rgb(149, 216, 243);


$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: mix(#8f6c6c,  #8bceae, 0.5);

$color-btn-hot: rgba(91, 189, 181, 0.616);

$nunito: Nunito, sans-serif;

$font-main: Merriweather, Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

// Breakpoints
$small:		450px;
$medium:	760px;
$large:		1200px;
