
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar
{
  background-color: $blue !important;
  .navbar-brand, .nav-item, .nav-link
  {
    //color: adjust-hue($green, 300deg) !important;
    color: scale-color(adjust-hue(complement($blue), 50deg), $lightness: 15%, $saturation: 10%) !important; //=> color 
    font-family: $nunito, $font-highlight !important;
    
    &:hover
    {
      color: $offwhite !important;
      font
    }
  }
  .dropdown > .nav-link
  {
    // properly aligns items list in toggled hamburger
      padding: 0px;  
  }
}
/*Regulating rules*/
.btn-h1-spacing {
	margin-top: 18px;
}

.form-spacing-top
{
    margin-top: 30px;
}

.min-button-width
{
	min-width: 75px;
}

.no-b-radius
{
border-radius: 0px;
}

