
// Variables
@import 'normalize';
@import 'variables';
@import 'base';
@import 'mixins';
@import 'interface'; // so far this is just the public store interface which could be a module
// Website Components
@import'modules/navigation';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Category query sidebar for public store index
.categories // put this in an _interface sheet with the item/row display mixin
{
  @include break(800px) {
    display: block;
    h1,h2,h3
    {
      font-family: $font-main;
    }
  }
  @include break(200px, 800px) { // do something else in this break to show category 
    display: none; // i need to have another class that shows when this is hidden [like a drawer menu] (because I can't access the bootstrap grid from within this scope) 
  }

  a {
    font-family: $nunito;
    color: $offwhite;
  }

  background-image:  
  linear-gradient(#0076A3,rgb(137, 139, 161));
  
  border-bottom: 2px solid rgb(42, 138, 177);
  border-right: 2px solid rgb(42, 138, 177);
}

/*Regulating rules*/ // Try to put these somehwere else, for now they square the buttons and add top margin to the body
.btn-h1-spacing {
	margin-top: 18px;
}

.form-spacing-top
{
  margin-top: 30px;
}

.min-button-width
{
	min-width: 75px;
}

.max-button-height
{
	max-height: 31px;
}
.no-b-radius
{
border-radius: 0px;
}
.hidden 
{
display: none;
}

