
// Variables
@import 'normalize';
@import 'variables';
@import 'base';
@import 'mixins';
@import 'interface';
// Website Components
@import'modules/navigation';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Store category query sidebar

.categories
{
  float: left;
  h1,h2,h3
  {
    font-family: $font-main;
  
  }
  background-image:  
  linear-gradient(#0076A3,rgb(137, 139, 161));
  
  border-bottom: 2px solid rgb(42, 138, 177);
  border-right: 2px solid rgb(42, 138, 177);
}

/*Regulating rules*/ // Try to put these somehwere else, for now they square the buttons and add top margin to the body
.btn-h1-spacing {
	margin-top: 18px;
}

.form-spacing-top
{
  margin-top: 30px;
}

.min-button-width
{
	min-width: 75px;
}

.no-b-radius
{
border-radius: 0px;
}

