/* ul.navbar-nav li.active {
background-color: #FFF !important;
  border-color: #FFF !important;
  border-top-style:2px solid black;
}

.navbar-default .navbar-nav > li.active > a {
	color: #000;
	background-color: #FFF !important;
	border-color: #FFF !important;
}

.container { 
	margin-bottom:100px; 
	margin-left:20px; 
	margin-right:20px; 
}

@media (max-width: 768px){
	.navbar-right {
		display:none;
	}
}
@media (min-width: 768px){
	#main {
	    background-color: #FFF;
	    padding: 0;
	    margin: 0;
	    overflow: hidden;
	    height:auto;
	    min-height:600px;
	}

	.container { 
		margin-left:0px; 
		margin-right:0px; 
	}

	.navbar-nav {
		height: 45px;
	}
}

@media (min-width: 768px) and (max-width: 1000px) {

	.container { margin-bottom:200px; }
	
	#main {
		background-size:35% !important;
	}
	
	.navbar-nav {
		height: 45px;
	}
}
 */
/* .form-spacing-top
{
    margin-top: 30px;
} */

/*Regulating rules*/
/* .btn-h1-spacing {
	margin-top: 18px;
}

.form-spacing-top
{
    margin-top: 30px;
}

.min-button-width
{
	min-width: 75px;
}

.no-b-radius
{
border-radius: 0px;
} */
