// Top NavBar 
.navbar
{
  background-color: $blue !important;
  .navbar-brand
  {
    color: scale-color(adjust-hue(complement($blue), 50deg), $lightness: 15%, $saturation: 10%) !important; //=> color 
    font-family: $font-main;
    font-size: 2rem;
  }
  .logo
  {
    @include break(270px, 991px) { // do something else in this break to show category 
      display: none; // i need to have another class that shows when this is hidden [like a drawer menu] (because I can't access the bootstrap grid from within this scope) 
    };
  }
  .nav-item, .nav-link
  {
    //color: adjust-hue($green, 300deg) !important;
    color: scale-color(adjust-hue(complement($blue), 50deg), $lightness: 15%, $saturation: 10%) !important; //=> color 
    font-family: $nunito, $font-highlight !important;
    .dropdown-item{
      color: $green !important; 
      &:hover
      {
        color: $blue !important;
        background-color: mix(#8f6c6c,  #8bceae, 0.25);
      }
    } 
    :hover
    {
      color: $offwhite !important;
    }
  }
  .dropdown .nav-link
  {
    // properly aligns items list in toggled hamburger
      padding: 0px;  
  }
}